node-red/battery-charging-calculator/battery_charging_calculator.json
[{"id":"b6105ce29c46e152","type":"tab","label":"Battery Charging Calculator","disabled":false,"info":"Calculates optimal battery charging strategy during the cheap/free rate period.\nPolls sensors every 60s, joins data, runs calculation function, and writes results\nto HA helper entities consumed by the Supplemental Grid Charging automation.\n\nREPLACE the server node ID (58a17342.ac5f9c) with your own HA server node ID.\nAll entity IDs marked with YOUR_ prefix must be replaced with your own.","env":[]},
{"id":"ac3c944d273012a5","type":"poll-state","z":"b6105ce29c46e152","name":"PV Forecast - Remaining Today","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.solcast_pv_forecast_forecast_remaining_today","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"solar_remaining","valueType":"str"}],"x":150,"y":120,"wires":[["9298b6b2ed48ebff"]]},
{"id":"049ac40137a193a8","type":"poll-state","z":"b6105ce29c46e152","name":"Battery SoC %","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"YOUR_BATTERY_SOC_SENSOR","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"battery_soc","valueType":"str"}],"x":110,"y":60,"wires":[["9298b6b2ed48ebff"]]},
{"id":"9298b6b2ed48ebff","type":"join","z":"b6105ce29c46e152","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":180,"wires":[["69f4b6cfcf03550b"]]},
{"id":"69f4b6cfcf03550b","type":"function","z":"b6105ce29c46e152","name":"Calculate Charging Strategy","func":"// Battery Charging Strategy Calculator\n// Calculates optimal charging during cheap/free rate period using Solcast forecast\n// Outputs to HA helper entities consumed by the Supplemental Grid Charging automation\n//\n// ── CONFIGURATION ────────────────────────────────────────────────────────────\n// Edit these constants to match your system:\n\nconst DAILY_HOUSEHOLD_CONSUMPTION = 30;        // ← REPLACE: estimated daily consumption kWh\nconst MIN_CHARGING_THRESHOLD = 1.0;            // Minimum deficit to trigger grid charging (kWh)\nconst FORECAST_UNCERTAINTY_BUFFER = 0.85;      // Apply 15% haircut to solar forecast\nconst FREE_PERIOD_START_HOUR = 11;             // ← REPLACE: cheap/free period start (24h)\nconst FREE_PERIOD_END_HOUR = 14;               // ← REPLACE: cheap/free period end (24h)\nconst MAX_CHARGING_RATE_KW = 16.8;             // ← REPLACE: your inverter max charge rate kW\n                                               //   or use sensor.sigen_0_inverter_1_rated_charging_power\nconst FREE_PERIOD_MIN_CHARGE_RATE = 2.0;       // ← REPLACE: minimum charge rate during free period kW\n\n// Deadband prevents excessive rate changes on small fluctuations\nconst CHARGE_RATE_DEADBAND_KW = 0.5;\n\n// EMA smoothing factor for available PV (0=no smoothing, 1=full smoothing)\nconst PV_SMOOTHING_FACTOR = 0.3;\n\n// EV charger latch: keep Remote EMS on for this many minutes after EV stops\nconst EV_LATCH_MINUTES = 20;                   // ← REPLACE: adjust to your EV charger behaviour\n\n// ── SENSOR PARSING ───────────────────────────────────────────────────────────\nlet solarRemaining = parseFloat(msg.payload.solar_remaining) || 0;\nlet solarThisHour = (parseFloat(msg.payload.solar_this_hour) || 0) / 1000;\nlet solarNextHour = (parseFloat(msg.payload.solar_next_hour) || 0) / 1000;\nlet currentHouseholdPower = (parseFloat(msg.payload.household_power) || 0) / 1000;\nlet currentPVGeneration = (parseFloat(msg.payload.pv_generation) || 0) / 1000;\nlet currentDCChargerPower = parseFloat(msg.payload.dc_charger_power) || 0;\n\n// Battery remaining capacity derived from SoC sensor\nlet batterySoCPercent = parseFloat(msg.payload.battery_soc) || 0;\nlet batteryRatedCapacity = parseFloat(msg.payload.battery_rated_capacity) || 33.6; // ← REPLACE fallback\nlet batteryRemainingCapacity = parseFloat(((1 - batterySoCPercent / 100) * batteryRatedCapacity).toFixed(2));\n\nlet dcChargerRunningState = msg.payload.dc_charger_state || \"Idle\";\n\n// Parse sunset time\nlet sunsetHour = 18;\nif (msg.payload.sunset_hour) {\n    try {\n        let sunsetDate = new Date(msg.payload.sunset_hour);\n        sunsetHour = sunsetDate.getHours() + (sunsetDate.getMinutes() / 60);\n    } catch (e) { sunsetHour = 18; }\n}\n\n// Guard: skip if key inputs are missing\nif (msg.payload.solar_remaining === undefined ||\n    msg.payload.battery_soc === undefined ||\n    !msg.payload.sunset_hour ||\n    msg.payload.pv_generation === undefined) {\n    node.warn(\"Waiting for all sensor data...\");\n    return null;\n}\n\n// ── CONTEXT ──────────────────────────────────────────────────────────────────\nlet lastAppliedRate = context.get('lastChargeRateKW') || 0;\nlet lastPVForBattery = context.get('lastPVForBattery') || null;\nlet evLatchExpiry = context.get('evLatchExpiry') || 0;\n\nlet now = new Date();\nlet now_ms = Date.now();\nlet currentHour = now.getHours() + (now.getMinutes() / 60);\nlet hoursUntilEndOfDay = 24 - currentHour;\n\n// ── EV CHARGER LATCH ─────────────────────────────────────────────────────────\n// Catches: Charging, Preparing, Occupied states, or measurable power\n// Latch holds evChargerActive true for EV_LATCH_MINUTES after last signal,\n// preventing dropout during brief pauses (e.g. cell balancing) mid-charge\nlet evDetectedNow = dcChargerRunningState.toLowerCase().includes(\"occupied\") ||\n                    dcChargerRunningState.toLowerCase().includes(\"charging\") ||\n                    dcChargerRunningState.toLowerCase().includes(\"preparing\") ||\n                    currentDCChargerPower > 0.3;\n\nif (evDetectedNow) {\n    evLatchExpiry = now_ms + (EV_LATCH_MINUTES * 60 * 1000);\n    context.set('evLatchExpiry', evLatchExpiry);\n}\n\nlet evChargerActive = evDetectedNow || (now_ms < evLatchExpiry);\nlet evLatchActive = !evDetectedNow && (now_ms < evLatchExpiry);\nlet evLatchMinutesRemaining = evLatchActive ? Math.ceil((evLatchExpiry - now_ms) / 60000) : 0;\n\n// ── SOLAR FORECAST ───────────────────────────────────────────────────────────\nlet minutesIntoHour = now.getMinutes();\nlet fractionOfHourRemaining = (60 - minutesIntoHour) / 60;\nlet proRataSolarThisHour = solarThisHour * fractionOfHourRemaining;\nlet enhancedSolarForecast = solarRemaining - solarThisHour + proRataSolarThisHour;\nlet conservativeSolarForecast = enhancedSolarForecast * FORECAST_UNCERTAINTY_BUFFER;\n\n// ── CONSUMPTION ESTIMATE ─────────────────────────────────────────────────────\nlet effectiveSolarEndHour = sunsetHour - 2;\nlet hoursUntilSolarEnds = Math.max(0, effectiveSolarEndHour - currentHour);\nlet hourlyHouseholdConsumption = DAILY_HOUSEHOLD_CONSUMPTION / 24;\nlet estimatedRemainingConsumption = hourlyHouseholdConsumption * hoursUntilSolarEnds;\nif (currentHouseholdPower > 2) { estimatedRemainingConsumption *= 1.2; }\n\n// ── ENERGY BALANCE ───────────────────────────────────────────────────────────\nlet netAvailableEnergy = conservativeSolarForecast - estimatedRemainingConsumption;\nlet totalEnergyDeficit = Math.max(0, batteryRemainingCapacity - netAvailableEnergy);\n\n// PV available for battery after household loads (EMA smoothed)\nlet rawAvailablePVForBattery = Math.max(0, currentPVGeneration - currentHouseholdPower);\nlet availablePVForBattery = lastPVForBattery === null ? rawAvailablePVForBattery :\n    (PV_SMOOTHING_FACTOR * rawAvailablePVForBattery) + ((1 - PV_SMOOTHING_FACTOR) * lastPVForBattery);\ncontext.set('lastPVForBattery', availablePVForBattery);\n\n// ── SOLAR DURING FREE PERIOD ESTIMATE ────────────────────────────────────────\nfunction estimateSolarDuringFreePeriod(currentHour, thisHourForecast, nextHourForecast) {\n    let totalSolarKWh = 0;\n    let avgSolarKW = 0;\n    if (currentHour >= FREE_PERIOD_START_HOUR && currentHour < FREE_PERIOD_END_HOUR) {\n        let hoursRemaining = FREE_PERIOD_END_HOUR - currentHour;\n        let currentHourRemaining = Math.min(1, Math.ceil(currentHour) - currentHour);\n        totalSolarKWh += thisHourForecast * currentHourRemaining;\n        let fullHoursRemaining = Math.floor(hoursRemaining - currentHourRemaining);\n        totalSolarKWh += nextHourForecast * fullHoursRemaining;\n        let finalHourFraction = hoursRemaining - currentHourRemaining - fullHoursRemaining;\n        if (finalHourFraction > 0) { totalSolarKWh += nextHourForecast * finalHourFraction * 0.9; }\n        avgSolarKW = totalSolarKWh / hoursRemaining;\n    } else if (currentHour < FREE_PERIOD_START_HOUR) {\n        let hoursUntilFreePeriod = FREE_PERIOD_START_HOUR - currentHour;\n        totalSolarKWh = hoursUntilFreePeriod < 1 ? nextHourForecast * 3 : nextHourForecast * 2.85;\n        avgSolarKW = hoursUntilFreePeriod < 1 ? nextHourForecast : nextHourForecast * 0.95;\n    }\n    return avgSolarKW;\n}\n\n// ── CHARGING STRATEGY ────────────────────────────────────────────────────────\nlet suggestedChargeRateKW = 0;\nlet chargingDurationHours = 0;\nlet chargingStartTime = \"\";\nlet chargingEndTime = \"\";\nlet chargingMode = \"NONE\";\nlet reason = \"\";\nlet confidence = \"medium\";\nlet gridChargingRequired = false;\n\nif (currentHour >= FREE_PERIOD_START_HOUR && currentHour < FREE_PERIOD_END_HOUR) {\n    let hoursRemainingInFreePeriod = FREE_PERIOD_END_HOUR - currentHour;\n    let solarSurplus = netAvailableEnergy - batteryRemainingCapacity;\n\n    if (batteryRemainingCapacity < 0.1) {\n        suggestedChargeRateKW = 0;\n        chargingMode = \"BATTERY_FULL\";\n        reason = \"Battery full - self-consumption mode during free period\";\n        gridChargingRequired = false;\n        confidence = \"high\";\n\n    } else if (batteryRemainingCapacity > 1.0 && availablePVForBattery < 0.5) {\n        suggestedChargeRateKW = Math.min(batteryRemainingCapacity / hoursRemainingInFreePeriod, MAX_CHARGING_RATE_KW);\n        chargingMode = \"GRID_CHARGING_PV_BUSY\";\n        reason = currentDCChargerPower > 1.0 ?\n            `${batteryRemainingCapacity.toFixed(1)}kWh needed - PV busy with DC charger (${currentDCChargerPower.toFixed(1)}kW), charging ${suggestedChargeRateKW.toFixed(1)}kW from free grid` :\n            `${batteryRemainingCapacity.toFixed(1)}kWh needed - PV busy with house loads, charging ${suggestedChargeRateKW.toFixed(1)}kW from free grid`;\n        gridChargingRequired = true;\n        confidence = \"high\";\n\n    } else if (totalEnergyDeficit > MIN_CHARGING_THRESHOLD) {\n        let currentSolarRate = availablePVForBattery;\n        let targetBatteryFillRate = batteryRemainingCapacity / hoursRemainingInFreePeriod;\n        let gridSupplementalRate = Math.max(0, targetBatteryFillRate - currentSolarRate);\n        suggestedChargeRateKW = Math.min(targetBatteryFillRate, MAX_CHARGING_RATE_KW);\n        chargingMode = \"GRID_SUPPLEMENTAL\";\n        reason = `Deficit ${totalEnergyDeficit.toFixed(1)}kWh - charging at ${suggestedChargeRateKW.toFixed(1)}kW (${gridSupplementalRate.toFixed(1)}kW grid + ${currentSolarRate.toFixed(1)}kW solar) to fill by ${FREE_PERIOD_END_HOUR}:00`;\n        if (currentDCChargerPower > 0.1) { reason += ` [DC charger: ${currentDCChargerPower.toFixed(1)}kW]`; }\n        confidence = \"high\";\n        gridChargingRequired = true;\n\n    } else if (batteryRemainingCapacity > 3.0 && solarSurplus < 6.0) {\n        let currentSolarRate = availablePVForBattery;\n        let targetBatteryFillRate = batteryRemainingCapacity / hoursRemainingInFreePeriod;\n        let naturalGridRate = Math.max(0, targetBatteryFillRate - currentSolarRate);\n        let gridSupplementRate = Math.min(naturalGridRate, 3.0);\n        suggestedChargeRateKW = Math.min(currentSolarRate + gridSupplementRate, MAX_CHARGING_RATE_KW);\n        chargingMode = \"OPPORTUNISTIC\";\n        reason = `${batteryRemainingCapacity.toFixed(1)}kWh needed, surplus ${solarSurplus.toFixed(1)}kWh - charging ${suggestedChargeRateKW.toFixed(1)}kW (${currentSolarRate.toFixed(1)}kW solar + ${gridSupplementRate.toFixed(1)}kW grid top-up)`;\n        gridChargingRequired = true;\n        confidence = \"high\";\n\n    } else {\n        suggestedChargeRateKW = 0;\n        chargingMode = \"SOLAR_ONLY\";\n        reason = batteryRemainingCapacity < 3.0 ?\n            `Battery nearly full (${batterySoCPercent.toFixed(1)}% / ${batteryRemainingCapacity.toFixed(1)}kWh remaining) - solar charging naturally` :\n            `${batteryRemainingCapacity.toFixed(1)}kWh needed (${batterySoCPercent.toFixed(1)}%), large surplus ${solarSurplus.toFixed(1)}kWh - solar sufficient`;\n        gridChargingRequired = false;\n        confidence = \"high\";\n    }\n\n    // EV Charger Override: keep Remote EMS on if EV active/latched during free period\n    if (evChargerActive && !gridChargingRequired) {\n        gridChargingRequired = true;\n        if (batteryRemainingCapacity < 0.1) {\n            suggestedChargeRateKW = FREE_PERIOD_MIN_CHARGE_RATE;\n            chargingMode = \"EV_CHARGER_KEEPALIVE\";\n            reason = evLatchActive ?\n                `Battery full (${batterySoCPercent.toFixed(1)}%) - EV charger recently active (latch ${evLatchMinutesRemaining}min), keeping Remote EMS on for free grid EV charging` :\n                `Battery full (${batterySoCPercent.toFixed(1)}%) - EV charger ${dcChargerRunningState} (${currentDCChargerPower.toFixed(1)}kW), keeping Remote EMS on for free grid EV charging`;\n        } else {\n            suggestedChargeRateKW = Math.min(batteryRemainingCapacity / hoursRemainingInFreePeriod, MAX_CHARGING_RATE_KW);\n            chargingMode = \"EV_CHARGER_GRID_SUPPLEMENTAL\";\n            reason = evLatchActive ?\n                `${batteryRemainingCapacity.toFixed(1)}kWh needed (${batterySoCPercent.toFixed(1)}%) - EV charger recently active (latch ${evLatchMinutesRemaining}min), charging ${suggestedChargeRateKW.toFixed(1)}kW from free grid` :\n                `${batteryRemainingCapacity.toFixed(1)}kWh needed (${batterySoCPercent.toFixed(1)}%) - EV charger ${dcChargerRunningState} (${currentDCChargerPower.toFixed(1)}kW), charging ${suggestedChargeRateKW.toFixed(1)}kW from free grid`;\n        }\n        confidence = \"high\";\n    }\n\n    if (gridChargingRequired) {\n        let startHour = currentHour;\n        let endHour = FREE_PERIOD_END_HOUR;\n        chargingStartTime = Math.floor(startHour).toString().padStart(2,'0') + ':' + Math.floor((startHour%1)*60).toString().padStart(2,'0');\n        chargingEndTime = endHour.toString().padStart(2,'0') + ':00';\n        chargingDurationHours = hoursRemainingInFreePeriod;\n    }\n\n} else if (currentHour < FREE_PERIOD_START_HOUR) {\n    let hoursInFreePeriod = FREE_PERIOD_END_HOUR - FREE_PERIOD_START_HOUR;\n    let solarSurplus = netAvailableEnergy - batteryRemainingCapacity;\n\n    if (batteryRemainingCapacity < 0.1) {\n        chargingMode = \"BATTERY_FULL\";\n        reason = `Battery full (${batterySoCPercent.toFixed(1)}%) - will remain in default mode`;\n        confidence = \"high\";\n        gridChargingRequired = false;\n\n    } else if (totalEnergyDeficit > MIN_CHARGING_THRESHOLD) {\n        let gridSupplementalRate = totalEnergyDeficit / hoursInFreePeriod;\n        let forecastSolarAvgKW = estimateSolarDuringFreePeriod(currentHour, solarThisHour, solarNextHour);\n        let forecastAvailableForBattery = Math.max(0, forecastSolarAvgKW - 1.0);\n        suggestedChargeRateKW = Math.min(gridSupplementalRate + forecastAvailableForBattery, MAX_CHARGING_RATE_KW);\n        chargingMode = \"PLANNED_GRID_SUPPLEMENTAL\";\n        reason = `Deficit ${totalEnergyDeficit.toFixed(1)}kWh forecast (${batterySoCPercent.toFixed(1)}% SoC) - will charge ${suggestedChargeRateKW.toFixed(1)}kW (${gridSupplementalRate.toFixed(1)}kW grid + ${forecastAvailableForBattery.toFixed(1)}kW solar avg) at ${FREE_PERIOD_START_HOUR}:00`;\n        confidence = currentHour > 9 ? \"high\" : \"medium\";\n        gridChargingRequired = true;\n\n    } else if (batteryRemainingCapacity > 3.0 && solarSurplus < 6.0) {\n        let forecastSolarAvgKW = estimateSolarDuringFreePeriod(currentHour, solarThisHour, solarNextHour);\n        suggestedChargeRateKW = Math.min(Math.max(forecastSolarAvgKW, FREE_PERIOD_MIN_CHARGE_RATE), MAX_CHARGING_RATE_KW);\n        chargingMode = \"PLANNED_OPPORTUNISTIC\";\n        reason = `${batteryRemainingCapacity.toFixed(1)}kWh needed (${batterySoCPercent.toFixed(1)}% SoC), surplus ${solarSurplus.toFixed(1)}kWh - will charge opportunistically at ${FREE_PERIOD_START_HOUR}:00`;\n        confidence = currentHour > 9 ? \"high\" : \"medium\";\n        gridChargingRequired = true;\n\n    } else {\n        chargingMode = \"PLANNED_SOLAR_ONLY\";\n        reason = batteryRemainingCapacity < 3.0 ?\n            `Battery nearly full (${batterySoCPercent.toFixed(1)}% / ${batteryRemainingCapacity.toFixed(1)}kWh remaining) - solar will complete charging` :\n            `${batteryRemainingCapacity.toFixed(1)}kWh needed (${batterySoCPercent.toFixed(1)}% SoC), large surplus ${solarSurplus.toFixed(1)}kWh - solar sufficient`;\n        confidence = currentHour > 9 ? \"high\" : \"medium\";\n        gridChargingRequired = false;\n    }\n\n} else {\n    suggestedChargeRateKW = 0;\n    chargingMode = \"AFTER_FREE_PERIOD\";\n    reason = \"Free period ended - default self-consumption mode\";\n    confidence = \"high\";\n    gridChargingRequired = false;\n}\n\n// Apply deadband\nif (!gridChargingRequired || suggestedChargeRateKW === 0) {\n    context.set('lastChargeRateKW', 0);\n} else if (Math.abs(suggestedChargeRateKW - lastAppliedRate) < CHARGE_RATE_DEADBAND_KW && lastAppliedRate > 0) {\n    suggestedChargeRateKW = lastAppliedRate;\n}\ncontext.set('lastChargeRateKW', suggestedChargeRateKW);\n\n// Time context\nlet timeContext = \"\";\nif (currentHour < FREE_PERIOD_START_HOUR - 1) {\n    timeContext = \"Planning phase - forecasts may change\";\n    if (confidence === \"high\") confidence = \"medium\";\n} else if (currentHour >= FREE_PERIOD_START_HOUR - 1 && currentHour < FREE_PERIOD_START_HOUR) {\n    timeContext = \"Pre-charging assessment\";\n    confidence = \"high\";\n} else if (currentHour >= FREE_PERIOD_START_HOUR && currentHour < FREE_PERIOD_END_HOUR) {\n    timeContext = gridChargingRequired ? \"Free period active - grid + solar\" : \"Free period active - solar only\";\n    confidence = \"high\";\n} else {\n    timeContext = \"Free period ended\";\n}\n\n// Output payload\nmsg.payload = {\n    battery_soc_percent: batterySoCPercent,\n    battery_remaining_capacity_kwh: batteryRemainingCapacity,\n    battery_rated_capacity_kwh: batteryRatedCapacity,\n    solar_remaining_today_kwh: solarRemaining,\n    solar_this_hour_kwh: solarThisHour,\n    solar_next_hour_kwh: solarNextHour,\n    current_household_power_kw: currentHouseholdPower,\n    current_pv_generation_kw: currentPVGeneration,\n    current_dc_charger_power_kw: currentDCChargerPower,\n    available_pv_for_battery_kw: availablePVForBattery,\n    charging_required: gridChargingRequired,\n    charging_mode: chargingMode,\n    decision: gridChargingRequired ? \"ENABLE_REMOTE_EMS\" : \"DEFAULT_MODE\",\n    reason: reason.substring(0, 250),\n    confidence: confidence,\n    time_context: timeContext.substring(0, 250),\n    charging_rate_kw: parseFloat(suggestedChargeRateKW.toFixed(2)),\n    charging_duration_hours: parseFloat(chargingDurationHours.toFixed(2)),\n    charging_start_time: chargingStartTime,\n    charging_end_time: chargingEndTime,\n    charge_during_free_period: gridChargingRequired,\n    ev_charger_running_state: dcChargerRunningState,\n    ev_charger_active: evChargerActive,\n    ev_charger_latch_active: evLatchActive,\n    ev_charger_latch_minutes_remaining: evLatchMinutesRemaining,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":180,"wires":[["f0b1410306eced33","d9ed6602ae8c9653","356ded52f0adea06","9f3f06fb9f526c9b"]]},
{"id":"f0b1410306eced33","type":"switch","z":"b6105ce29c46e152","name":"Charging required?","property":"payload.charge_during_free_period","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":80,"wires":[["b9facf1a4763c8c6"],["6cf1869252c986b8"]]},
{"id":"b9facf1a4763c8c6","type":"api-call-service","z":"b6105ce29c46e152","name":"Set supplemental charging ON","server":"YOUR_HA_SERVER_NODE_ID","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.battery_supplemental_charging_required"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":1100,"y":40,"wires":[[]]},
{"id":"6cf1869252c986b8","type":"api-call-service","z":"b6105ce29c46e152","name":"Set supplemental charging OFF","server":"YOUR_HA_SERVER_NODE_ID","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.battery_supplemental_charging_required"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":1100,"y":120,"wires":[[]]},
{"id":"499ae0a99bcea0df","type":"poll-state","z":"b6105ce29c46e152","name":"PV Forecast - This Hour","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.solcast_pv_forecast_forecast_this_hour","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"solar_this_hour","valueType":"str"}],"x":120,"y":180,"wires":[["9298b6b2ed48ebff"]]},
{"id":"bc20bca48716f89d","type":"poll-state","z":"b6105ce29c46e152","name":"Current Household Consumption","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"YOUR_CONSUMED_POWER_SENSOR","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"household_power","valueType":"str"}],"x":170,"y":360,"wires":[["9298b6b2ed48ebff"]]},
{"id":"925691f5a319bbe8","type":"poll-state","z":"b6105ce29c46e152","name":"Sunset time","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.sun_next_setting","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"sunset_hour","valueType":"str"}],"x":90,"y":300,"wires":[["9298b6b2ed48ebff"]]},
{"id":"d9ed6602ae8c9653","type":"api-call-service","z":"b6105ce29c46e152","name":"Write: Battery Charge Strategy","server":"YOUR_HA_SERVER_NODE_ID","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.battery_charge_strategy"],"labelId":[],"data":"{\"value\": payload.reason}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":1110,"y":200,"wires":[[]]},
{"id":"356ded52f0adea06","type":"api-call-service","z":"b6105ce29c46e152","name":"Write: Suggested Charge Rate","server":"YOUR_HA_SERVER_NODE_ID","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.battery_charge_suggested_rate"],"labelId":[],"data":"{\"value\": payload.charging_rate_kw}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":1110,"y":280,"wires":[[]]},
{"id":"9f3f06fb9f526c9b","type":"api-call-service","z":"b6105ce29c46e152","name":"Write: Battery Charge Urgency","server":"YOUR_HA_SERVER_NODE_ID","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.battery_charge_urgency"],"labelId":[],"data":"{\"value\": payload.time_context}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":1110,"y":360,"wires":[[]]},
{"id":"df9746e891f1fbe1","type":"poll-state","z":"b6105ce29c46e152","name":"PV Output Smoothed","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"YOUR_PV_POWER_SMOOTHED_SENSOR","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"pv_generation","valueType":"str"}],"x":120,"y":420,"wires":[["9298b6b2ed48ebff"]]},
{"id":"20c52b7f5ef3f9d1","type":"poll-state","z":"b6105ce29c46e152","name":"DC EV Charger Output Power","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"YOUR_DC_CHARGER_OUTPUT_POWER_SENSOR","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"dc_charger_power","valueType":"str"}],"x":140,"y":480,"wires":[["9298b6b2ed48ebff"]]},
{"id":"94553fb39b186f73","type":"poll-state","z":"b6105ce29c46e152","name":"PV Forecast - Next Hour","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.solcast_pv_forecast_forecast_next_hour","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"solar_next_hour","valueType":"str"}],"x":130,"y":240,"wires":[["9298b6b2ed48ebff"]]},
{"id":"a8860e1a10ed7d94","type":"poll-state","z":"b6105ce29c46e152","name":"DC EV Charger Running State","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"YOUR_DC_CHARGER_RUNNING_STATE_SENSOR","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"dc_charger_state","valueType":"str"}],"x":150,"y":540,"wires":[["9298b6b2ed48ebff"]]},
{"id":"battery_rated_capacity_node","type":"poll-state","z":"b6105ce29c46e152","name":"Battery Rated Capacity","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"YOUR_BATTERY_RATED_CAPACITY_SENSOR","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"battery_rated_capacity","valueType":"str"}],"x":130,"y":600,"wires":[["9298b6b2ed48ebff"]]},
{"id":"YOUR_HA_SERVER_NODE_ID","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
