node-red/battery-export-calculator/battery_export_calculator.json
[{"id":"35b261a92ef24f34","type":"tab","label":"Battery Export Calculator","disabled":false,"info":"Calculates optimal export strategy for the evening peak feed-in period.\nPolls sensors every 60s, joins data, runs calculation function, and writes results\nto HA helper entities consumed by the Peak Export Control automation.\n\nREPLACE the server node ID (YOUR_HA_SERVER_NODE_ID) with your own HA server node ID.\nAll entity IDs marked with YOUR_ prefix must be replaced with your own.","env":[]},
{"id":"75965679f45408ad","type":"poll-state","z":"35b261a92ef24f34","name":"Battery Available Discharge Energy","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"YOUR_AVAILABLE_BATTERY_DISCHARGE_ENERGY_SENSOR","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"battery_available_discharge","valueType":"str"}],"x":160,"y":60,"wires":[["1e8d535381373518"]]},
{"id":"1995c9eee7cddc59","type":"poll-state","z":"35b261a92ef24f34","name":"Battery Total Capacity kWh","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"YOUR_BATTERY_RATED_CAPACITY_SENSOR","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"battery_capacity","valueType":"str"}],"x":130,"y":120,"wires":[["1e8d535381373518"]]},
{"id":"b4303c4cc3c027a8","type":"poll-state","z":"35b261a92ef24f34","name":"Solar Forecast Remaining Today","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"sensor.solcast_pv_forecast_forecast_remaining_today","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"solar_remaining","valueType":"str"}],"x":150,"y":180,"wires":[["1e8d535381373518"]]},
{"id":"8da9eb01dc33d8d6","type":"poll-state","z":"35b261a92ef24f34","name":"Current Household Power","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"YOUR_CONSUMED_POWER_SENSOR","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"household_power","valueType":"str"}],"x":140,"y":240,"wires":[["1e8d535381373518"]]},
{"id":"f294513c1c48b09a","type":"poll-state","z":"35b261a92ef24f34","name":"Aircon Expected Overnight","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"input_boolean.aircon_expected_overnight","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"aircon_overnight","valueType":"str"}],"x":130,"y":300,"wires":[["1e8d535381373518"]]},
{"id":"81de83ae3413090f","type":"poll-state","z":"35b261a92ef24f34","name":"Battery SOC %","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"YOUR_BATTERY_SOC_SENSOR","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"battery_soc","valueType":"str"}],"x":110,"y":420,"wires":[["1e8d535381373518"]]},
{"id":"1e8d535381373518","type":"join","z":"35b261a92ef24f34","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":true,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":240,"wires":[["d4adfb0df0eb33ca"]]},
{"id":"d4adfb0df0eb33ca","type":"delay","z":"35b261a92ef24f34","name":"Rate limiter (max 1/min)","pauseType":"rate","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":550,"y":240,"wires":[["368a08bc81323e1b"]]},
{"id":"368a08bc81323e1b","type":"function","z":"35b261a92ef24f34","name":"Calculate Export Strategy","func":"// Battery Export Strategy Calculator\n// Calculates optimal discharge strategy for the evening peak feed-in period\n// Outputs to HA helper entities consumed by the Peak Export Control automation\n//\n// ── CONFIGURATION ────────────────────────────────────────────────────────────\n// Edit these constants to match your system:\n\nconst EXPORT_PERIOD_START_HOUR = 18;           // ← REPLACE: peak export start (24h)\nconst EXPORT_PERIOD_END_HOUR = 20;             // ← REPLACE: peak export end (24h)\nconst EXPORT_PERIOD_DURATION = 2;              // ← REPLACE: duration in hours\nconst MAX_EXPORT_CAP_KWH = 10;                 // ← REPLACE: your retailer's export cap kWh (if any)\nconst BASE_OVERNIGHT_RESERVE_KWH = 8;          // ← REPLACE: base overnight battery reserve kWh\nconst AIRCON_ADDITIONAL_RESERVE_KWH = 8;       // ← REPLACE: additional reserve if aircon expected kWh\nconst SAFETY_BUFFER_KWH = 1;                   // Safety buffer added to reserve\nconst MIN_SOC_PERCENT = 20;                    // ← REPLACE: absolute minimum SOC %\nconst ZERO_HERO_MIN_BATTERY_SOC = 25;          // ← REPLACE: minimum SOC to maintain for Zero Hero / feed-in bonus %\n\n// ── SENSOR PARSING ───────────────────────────────────────────────────────────\nlet batterySOC = parseFloat(msg.payload.battery_soc) || 0;\nlet batteryCapacity = parseFloat(msg.payload.battery_capacity) || 0;\nlet solarRemaining = (parseFloat(msg.payload.solar_remaining) || 0) / 1000;\nlet currentHouseholdPower = (parseFloat(msg.payload.household_power) || 0) / 1000;\nlet airconOvernightExpected = msg.payload.aircon_overnight === \"on\";\nlet maxExportPower = parseFloat(msg.payload.max_export_rate) || 2.0;\n\nlet currentBatteryEnergy = (batterySOC / 100) * batteryCapacity;\n\n// Guard: skip if key inputs are missing\nif (msg.payload.battery_soc === undefined ||\n    msg.payload.battery_capacity === undefined ||\n    msg.payload.household_power === undefined) {\n    node.warn(\"Waiting for all sensor data...\");\n    return null;\n}\n\n// ── RESERVE CALCULATION ──────────────────────────────────────────────────────\nlet overnightReserve = BASE_OVERNIGHT_RESERVE_KWH;\nif (airconOvernightExpected) { overnightReserve += AIRCON_ADDITIONAL_RESERVE_KWH; }\nlet totalReserve = overnightReserve + SAFETY_BUFFER_KWH;\n\nlet minSOCEnergy = (MIN_SOC_PERCENT / 100) * batteryCapacity;\nlet absoluteMinimum = Math.max(totalReserve, minSOCEnergy);\n\n// ── CONSUMPTION AND SOLAR ESTIMATES ──────────────────────────────────────────\nlet now = new Date();\nlet currentHour = now.getHours() + (now.getMinutes() / 60);\n\nlet avgHouseholdConsumption = currentHouseholdPower;\nif (currentHour < 17) { avgHouseholdConsumption = Math.max(currentHouseholdPower, 1.5); }\nlet householdConsumptionDuringExport = avgHouseholdConsumption * EXPORT_PERIOD_DURATION;\n\nlet solarContributionDuringExport = 0;\nif (currentHour < EXPORT_PERIOD_START_HOUR) {\n    solarContributionDuringExport = Math.min(solarRemaining * 0.10, 2.0);\n} else if (currentHour >= EXPORT_PERIOD_START_HOUR && currentHour < EXPORT_PERIOD_END_HOUR) {\n    solarContributionDuringExport = Math.min(solarRemaining, 1.5);\n}\n\n// ── ENERGY AVAILABLE FOR EXPORT ──────────────────────────────────────────────\nlet energyAvailableForExport = currentBatteryEnergy - absoluteMinimum;\nlet netExportableEnergy = energyAvailableForExport + solarContributionDuringExport - householdConsumptionDuringExport;\n\n// ── EXPORT DECISION ──────────────────────────────────────────────────────────\nlet exportEnabled = false;\nlet suggestedDischargeRate = 0;\nlet exportMode = \"NONE\";\nlet reason = \"\";\nlet confidence = \"medium\";\nlet exportEnergyTarget = 0;\n\nif (currentHour >= EXPORT_PERIOD_START_HOUR && currentHour < EXPORT_PERIOD_END_HOUR) {\n    let hoursRemainingInExportPeriod = EXPORT_PERIOD_END_HOUR - currentHour;\n    let zeroHeroMinEnergy = (ZERO_HERO_MIN_BATTERY_SOC / 100) * batteryCapacity;\n\n    if (batterySOC > ZERO_HERO_MIN_BATTERY_SOC) {\n        exportEnabled = true;\n        if (netExportableEnergy > 0.5) {\n            exportEnergyTarget = Math.min(netExportableEnergy, MAX_EXPORT_CAP_KWH);\n            let requiredBatteryDischarge = (exportEnergyTarget + (avgHouseholdConsumption * hoursRemainingInExportPeriod) - solarContributionDuringExport) / hoursRemainingInExportPeriod;\n            suggestedDischargeRate = Math.min(Math.max(requiredBatteryDischarge, 0.5), maxExportPower);\n            if (suggestedDischargeRate < 0) { suggestedDischargeRate = 0.5; }\n            exportMode = \"ACTIVE_EXPORT\";\n            reason = `Exporting ${exportEnergyTarget.toFixed(1)}kWh at ${suggestedDischargeRate.toFixed(1)}kW. Reserve: ${absoluteMinimum.toFixed(1)}kWh${airconOvernightExpected ? ' (aircon expected)' : ''}`;\n            confidence = \"high\";\n        } else {\n            exportEnabled = true;\n            exportEnergyTarget = 0.5;\n            suggestedDischargeRate = 0.5;\n            exportMode = \"ZERO_HERO_PROTECTION\";\n            reason = `Maintaining feed-in bonus minimum. Net capacity: ${netExportableEnergy.toFixed(1)}kWh. Battery: ${currentBatteryEnergy.toFixed(1)}kWh (${batterySOC.toFixed(0)}% SOC)${airconOvernightExpected ? ', aircon expected' : ''}`;\n            confidence = \"high\";\n        }\n    } else {\n        exportEnabled = false;\n        exportMode = \"BATTERY_TOO_LOW\";\n        reason = `Battery too low (${batterySOC.toFixed(0)}% SOC) - protecting overnight reserve.`;\n        confidence = \"high\";\n    }\n\n} else if (currentHour < EXPORT_PERIOD_START_HOUR) {\n    if (netExportableEnergy > 0.5) {\n        exportEnabled = true;\n        exportMode = \"PLANNED_EXPORT\";\n        exportEnergyTarget = Math.min(netExportableEnergy, MAX_EXPORT_CAP_KWH);\n        suggestedDischargeRate = Math.min(exportEnergyTarget / EXPORT_PERIOD_DURATION, maxExportPower);\n        reason = `Planning to export ${exportEnergyTarget.toFixed(1)}kWh during peak period. Current capacity: ${currentBatteryEnergy.toFixed(1)}kWh, reserve: ${absoluteMinimum.toFixed(1)}kWh${airconOvernightExpected ? ' (aircon expected)' : ''}`;\n        confidence = currentHour > 16 ? \"high\" : \"medium\";\n    } else {\n        exportEnabled = false;\n        exportMode = \"PLANNED_NO_EXPORT\";\n        reason = `Not enough capacity for export. Have ${currentBatteryEnergy.toFixed(1)}kWh, need ${absoluteMinimum.toFixed(1)}kWh reserve${airconOvernightExpected ? ' (aircon expected)' : ''}`;\n        confidence = \"medium\";\n    }\n\n} else {\n    exportMode = \"EXPORT_PERIOD_ENDED\";\n    reason = \"Export period ended. Battery in normal mode.\";\n    confidence = \"high\";\n    exportEnabled = false;\n}\n\n// Time context\nlet timeContext = \"\";\nif (currentHour < EXPORT_PERIOD_START_HOUR - 2) {\n    timeContext = \"Early planning - strategy may change\";\n} else if (currentHour >= EXPORT_PERIOD_START_HOUR - 2 && currentHour < EXPORT_PERIOD_START_HOUR) {\n    timeContext = \"Approaching export period - final assessment\";\n    confidence = \"high\";\n} else if (currentHour >= EXPORT_PERIOD_START_HOUR && currentHour < EXPORT_PERIOD_END_HOUR) {\n    timeContext = \"In export period - feed-in bonus protection active\";\n    confidence = \"high\";\n} else {\n    timeContext = \"Export period ended\";\n}\n\n// Output payload\nmsg.payload = {\n    battery_soc_percent: batterySOC.toFixed(1),\n    battery_capacity_kwh: batteryCapacity,\n    current_battery_energy_kwh: currentBatteryEnergy.toFixed(2),\n    solar_remaining_kwh: solarRemaining,\n    current_household_power_kw: currentHouseholdPower,\n    aircon_overnight_expected: airconOvernightExpected,\n    overnight_reserve_kwh: overnightReserve,\n    total_reserve_kwh: totalReserve,\n    absolute_minimum_kwh: absoluteMinimum,\n    energy_available_for_export_kwh: energyAvailableForExport,\n    net_exportable_energy_kwh: netExportableEnergy,\n    export_enabled: exportEnabled,\n    export_mode: exportMode,\n    reason: reason,\n    confidence: confidence,\n    time_context: timeContext,\n    export_energy_target_kwh: parseFloat(exportEnergyTarget.toFixed(2)),\n    discharge_rate_kw: parseFloat(suggestedDischargeRate.toFixed(2)),\n    max_export_cap_kwh: MAX_EXPORT_CAP_KWH,\n    max_export_power_kw: maxExportPower,\n    analysis: {\n        current_hour: currentHour.toFixed(2),\n        hours_until_export_period: Math.max(0, EXPORT_PERIOD_START_HOUR - currentHour).toFixed(1),\n        hours_remaining_in_export: Math.max(0, EXPORT_PERIOD_END_HOUR - Math.max(currentHour, EXPORT_PERIOD_START_HOUR)).toFixed(1),\n        battery_headroom_above_reserve: Math.max(0, currentBatteryEnergy - absoluteMinimum).toFixed(2) + \" kWh\",\n        zero_hero_minimum_soc: ZERO_HERO_MIN_BATTERY_SOC + \"%\",\n        reserve_breakdown: {\n            base_overnight: BASE_OVERNIGHT_RESERVE_KWH + \" kWh\",\n            aircon_additional: airconOvernightExpected ? AIRCON_ADDITIONAL_RESERVE_KWH + \" kWh\" : \"0 kWh\",\n            safety_buffer: SAFETY_BUFFER_KWH + \" kWh\",\n            total: totalReserve.toFixed(1) + \" kWh\"\n        }\n    },\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":240,"wires":[["ee360cc70d5270ab","22d68766c151b162","de51a830f0296905","a0c3b140eb34b592"]]},
{"id":"ee360cc70d5270ab","type":"switch","z":"35b261a92ef24f34","name":"Export enabled?","property":"payload.export_enabled","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":140,"wires":[["94834d6e8f331461"],["2ab35ef1179beb18"]]},
{"id":"94834d6e8f331461","type":"api-call-service","z":"35b261a92ef24f34","name":"Set export enabled ON","server":"YOUR_HA_SERVER_NODE_ID","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.battery_export_enabled"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":1140,"y":100,"wires":[[]]},
{"id":"2ab35ef1179beb18","type":"api-call-service","z":"35b261a92ef24f34","name":"Set export enabled OFF","server":"YOUR_HA_SERVER_NODE_ID","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.battery_export_enabled"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":1140,"y":180,"wires":[[]]},
{"id":"22d68766c151b162","type":"api-call-service","z":"35b261a92ef24f34","name":"Write: Battery Export Strategy","server":"YOUR_HA_SERVER_NODE_ID","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.battery_export_strategy"],"labelId":[],"data":"{\"value\": payload.reason}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":1140,"y":260,"wires":[[]]},
{"id":"de51a830f0296905","type":"api-call-service","z":"35b261a92ef24f34","name":"Write: Suggested Discharge Rate","server":"YOUR_HA_SERVER_NODE_ID","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.battery_export_suggested_rate"],"labelId":[],"data":"{\"value\": payload.discharge_rate_kw}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":1140,"y":340,"wires":[[]]},
{"id":"a0c3b140eb34b592","type":"api-call-service","z":"35b261a92ef24f34","name":"Write: Battery Export Urgency","server":"YOUR_HA_SERVER_NODE_ID","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.battery_export_urgency"],"labelId":[],"data":"{\"value\": payload.time_context}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":1140,"y":420,"wires":[[]]},
{"id":"20f329739d0f7bd4","type":"poll-state","z":"35b261a92ef24f34","name":"Peak Export Maximum Rate","server":"YOUR_HA_SERVER_NODE_ID","version":3,"exposeAsEntityConfig":"","updateInterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":false,"outputOnChanged":false,"entityId":"input_number.battery_peak_export_maximum_rate","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"max_export_rate","valueType":"str"}],"x":160,"y":360,"wires":[["1e8d535381373518"]]},
{"id":"YOUR_HA_SERVER_NODE_ID","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
